html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:70px; /* Height of the footer element */
}
.team_card img{
height:	200px;
width:	200px;
}
.team_card>.card-action>.fa {
  color: #607d8b !important;
  font-size: 20px;
  text-align: center;
  margin-right: 0 !important;
}
#team_table .fa {
  padding-right: 10px;
  font-size: 20px;
  color: #607d8b !important;

}
#team_table .fa:hover {
  text-decoration: none;
}

.card-action.row {
	margin: 0 !important;	
}

.card-action a {
	color: #607d8b !important;
	margin: 0 !important;
	font-size: 2.64em;
}
.contributions {
	display: none;
}

.justify{
	text-align: justify !important;
}
#wrapper{
	min-height: 100%;
	margin-bottom: -70px;
}
#footer {
	height: 70px;
}
